/* Sticky footer styles
-------------------------------------------------- */
html, body { height: 100%; } /* The html and body elements cannot have any padding or margin. */
#wrap { /* Wrapper for page content to push down footer */
	min-height: 100%;
	/*height: auto !important;*/
	height: 100%;
	margin: 0 auto -60px; /* Negative indent footer by its height */
	padding: 0 0 60px; /* Pad bottom by footer height */
}
#footer { 
	height: 60px; /* Set the fixed height of the footer here */
	border-radius: 0;
	margin-bottom: 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap > .container {
	padding: 60px 15px 0;
	min-height: 100%;
}
.container .credit { margin: 20px 0; }
#footer > .container { padding-left: 15px; padding-right: 15px; }
code { font-size: 80%; }

/* Nate page CSS
-------------------------------------------------- */
/*#wrap > .container { min-height: 600px; }*/
img.pull-right { padding: 0; margin: 0 0 1em 1em; }
.center-cropped {
	width: 75px;
	height: 100px;
	overflow: hidden;
	margin-right: .5em;
	position: relative;
}
.center-cropped img {
	position: absolute;
	left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%;
	margin: auto;
}
.social { margin-top: 16px; }
.social a {
	line-height: 0;
	font-size: 30px;
}

/* Person-Notes dialog class */
.person-notes .modal-header { padding-bottom: 5px; }
.person-notes .modal-header h2 { margin: 0; }
.person-notes .modal-body { padding-bottom: 0; }
.person-notes .modal-body .image { padding-bottom: 1em; }
.person-notes .modal-body textarea {
	background-color: #fff; 
	/*background-image: 
		-webkit-linear-gradient(90deg, transparent 19px, #abced4 19px, #abced4 21px, transparent 21px), 
		-webkit-linear-gradient(#eee .1em, transparent .1em);
	background-image: 
		-moz-linear-gradient(90deg, transparent 19px, #abced4 19px, #abced4 21px, transparent 21px), 
		-moz-linear-gradient(#eee .1em, transparent .1em);
	background-image: 
		-o-linear-gradient(90deg, transparent 19px, #abced4 19px, #abced4 21px, transparent 21px), 
		-o-linear-gradient(#eee .1em, transparent .1em);*/
	background-image: 
		linear-gradient(90deg, transparent 19px, #abced4 19px, #abced4 21px, transparent 21px), 
		linear-gradient(transparent .2em, #eee .2em, #eee .3em, transparent .3em);
	background-size: 100% 1.42857143em;
	padding-left: 25px;
}
.person-notes .modal-footer { padding: 10px; }

textarea.text-auto-scale {
	resize: none;
}