<div class="container" id="participants" data-ng-controller="search">
	<div class="page-header">
		<div class="container">
			<h1>Participants</h1>
		</div>
	</div>
	<p class="lead">
		Connect with other ELA participants.  You can search by name, specialty, city, firm, etc.
	</p>
	<p>
		If you click on any participant listed, you can add your own notes.  Use this to build your personal network.
	</p>

	<div class="row">
		<div class="col-md-7 col-sm-8"><!-- search -->
			<div class="input-group">
				<label class="input-group-addon" for="search_field">Search</label>
				<input type="text" class="form-control" id="search_field" placeholder="Type here..." data-ng-model="search_str">
				<span class="input-group-btn">
					<button class="btn btn-danger" data-ng-click="search_str=''">
						<i class="glyphicon glyphicon-remove" style="top:2px"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 hidden-xs"><!-- order -->
			<div class="input-group">
				<label class="input-group-addon" for="search_order">Order</label>
				<select data-ng-model="field" class="form-control" id="search_order" 
					data-ng-options="x.field as x.disp for x in fields" 
					data-ng-change="sort_order=false">
					<option value="" disabled>Order By...</option>
				</select>
				<span class="input-group-btn">
					<button class="btn btn-info" data-ng-click="sort_order=!sort_order">
						<i class="glyphicon" data-ng-class="{'glyphicon-chevron-down':sort_order, 'glyphicon-chevron-up':!sort_order}"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="col-md-2 hidden-xs hidden-sm"><!-- pagination -->
			<div class="input-group">
				<label class="input-group-addon" for="search_page">Limit</label>
				<select data-ng-model="limit" class="form-control" id="search_page" data-ng-options="x for x in limits">
					<option value="" disabled>Per Page...</option>
				</select>
			</div>
		</div>
		<div style="min-height: 600px" class="col-xs-12"><!-- eases the scroll jerk on small searches -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Photo</th>
						<th>Contact</th>
						<th style="width:75%" class="hidden-xs">
							<small class="pull-right text-right" style="font-weight:normal" data-ng-bind="total_rows()"></small>
							Bio
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="user in (filtered_users = (users | filter:search_str)) | orderBy:field:sort_order | pagination:page:limit"
						data-ng-click="view(user)" >
						<td>
							<div class="center-cropped pull-left img-rounded">
								<img data-ng-src="http://upstreamacademy.com/apps/{{user.img}}" class="img-rounded" height="100" 
								data-ng-attr-title="{{user.first}} {{user.last}}"
								data-ng-attr-alt="{{user.first}} {{user.last}}" alt="John Doe" src="data/img/Doe,%20John.jpg" />
							</div>
						</td>
						<td>
							<div class="pull-right">
								<a data-ng-href="tel:{{user.phone}}" data-ng-show="user.phone"><i class="glyphicon glyphicon-phone-alt"></i></a>
								<a data-ng-href="mailto:{{user.email}}" data-ng-show="user.email"><i class="glyphicon glyphicon-envelope"></i></a>
							</div>
							<strong>
								<span data-ng-bind="user.first">John</span>&nbsp;
								<span data-ng-bind="user.last">Doe</span>&nbsp;
								<i class="glyphicon glyphicon-comment" data-ng-show="user.note"></i>
							</strong><br/>
							<small data-ng-bind="user.title">Intern</small><br/>
							<span class="text-muted">
								<small data-ng-bind="user.company">Temporary INC.</small><br/>
								<small data-ng-bind="user.city">Two Dot</small>,&nbsp;<small data-ng-bind="user.state">MT</small><br/>
								<small>ELA Year: {{user.gradYear}}</small>
							</span>
						</td>
						<td data-ng-bind="user.bio" class="hidden-xs">was an amazing ...</td>
					</tr>
				</tbody>
			</table>

			<div class="text-center" data-ng-show="num_pages !== 1"><!-- pager -->
				<span 
					data-pagination
					data-total-items="filtered_users.length"
					data-items-per-page="limit"
					data-page="page"
					data-max-size="5"
					data-boundary-links="true"
					data-previous-text="&lsaquo;"
					data-next-text="&rsaquo;"
					data-first-text="&laquo;"
					data-last-text="&raquo;"
					data-num-pages="num_pages">
				</span>
			</div>
		</div>
	</div>
</div>